<h1>Najczęsciej zadawane pytania związane z serwerem</h1>
<h2>Jest rekrutacja na jakąś rangę?</h2>
<p>Nie, nie ma.</p>
<h2>Jak zdobyć cuboid i jaki jest ich limit?</h2>
<p>Aby zdobyć cuboid wystarczy stworzyć blok żelaza i postawić go. Musimy pamiętać, że nie stawiamy cuboida z shiftem. Jeśli chodzi o limit, to gracz może mieć tyle cuboidów, ile chce.</p>
<h2>Czy będzie reset endu?</h2>
<p>Tak, ale czas jest bliżej nieokreślony.</p>
<h2>Czy planujecie coś dodać nowego na serwer?</h2>
<p>Oczywiście, co jakiś czas pojawią się jakieś nowości.</p>
<h2>Co ilę nowa edycja?</h2>
<p>Mam być szczery? Nie wiem. Aktualnie zamierzam robić nową edycję co ok. rok.</p>
